<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Apache Aurora</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="/assets/css/main.css" rel="stylesheet">
  </head>
  <body>
	  <% if current_page.url == "/" %>
	    <%= partial "header_homepage" %>
		<%= yield %>
      <% else %>
        <%= partial "header_normal" %>	
  	  <div class="container-fluid">
  	  	<div class="container content">
          <%= yield %>
  		</div>
  	  </div>
	  <% end %>
      <%= partial "footer" %>
	</body>
</html>